html,
body {
  font-family: fantasy;
  font-size: 62.5%;
  overflow: auto;
  margin: 0;
}

.cover {
  perspective: 1000px;
  background-color: #E4E4E4;
}

.box {
  position: relative;
  height: 100%;
  width: 100%;
  transform-style: preserve-3d;
  /* animation: spin 5s ease-in-out;
    animation-fill-mode: forwards;  */
}

.card {
  height: 100%;
  width: 100%;
  position: absolute;
}

#front {
  background-color: #282726;
  transform: translateZ(100px);
}

#bottom {
  background-color: #3d71e5;
  transform: rotateX(90deg) translateY(100px);
  transform-origin: bottom center;
}

@keyframes spin1 {
  0% {
    transform: rotateX(0deg);
  }
  25% {
    transform: scale(0.6);
  }
  70% {
    transform: rotateX(75deg) scale(0.6);
    transform-origin: center;
  }
  100% {
    transform: rotateX(90deg);
    transform-origin: top center;
  }
}

@keyframes spin2 {
  0% {
    transform: rotateX(90deg);
  }
  25% {
    transform: scale(0.6);
  }
  100% {
    transform: rotateX(0deg);
    transform-origin: top center;
  }
}

.home{
  position: relative;
  
}
.heading {
  perspective: 1000;
  text-align: center;
  position: absolute;
  top: 35%;
  left: 29%;
  padding: 10px;
  z-index: 100;
  color: #e5e2e2;
  font-size: 3rem;
  transform: translateZ(-200px);
  box-shadow: 10px 200px 300px 2px rgba(#282726,0.75);
 
}

.head-em {
  font-size: 3.2rem;
  font-weight: 700;
}

.home-btn{
  font-size: 2.5rem;
  border: 1px solid white;
  padding: 0.8rem 0.25rem 0.25rem 0.25rem;
  box-sizing: border-box;
  width: 50%;
  margin: 4rem auto;
  border-radius: 2rem;
  display: none;
}



.home-btn:hover {
  color: rgb(48, 46, 46);
  background-color: rgb(241, 214, 90);
  /* background-color: #ccc8c8; */
  border: none;
  cursor: pointer;
  border: none;
}

@media(max-width:468px){
  .heading{
    top: 20%;
    left: 0%;
    font-size: 3rem;
  }
}
@media(min-width:470px) and (max-width:900px){
  .heading{
    top: 30%;
    left: 10%;
  }
}